<% if(pname != null){
  var locations = ['jayanagar-bangalore','kanakapura-road-bangalore','bannerghatta-road-bangalore','uttarahalli-road-bangalore','jp-nagar-bangalore','rajarajeshwari-nagar-bangalore','banashankari-bangalore'];
  var locationNames = ['Jayanagar','Kanakapura Road','Bannerghatta Road','Uttarahalli','JP Nagar','Rajarajeshwari Nagar','Banashankari'];

   //locations.sort(); 
  //locationNames.sort(); 
  var i = 0;
 %>
<div class="areas-served hidden-xs mb-20">
  <div class="footer-responsive">
    <div class="container visi">
      
      <div class="row">
        <div class="col-sm-12 text-center ">
          <h2 class="thin">Areas Served in Bangalore</h2>
          <div class="row text-center">
            
            <div class="col-sm-12">
             
              <% for(i=0;i<7;i++){ %>
                  <li><a href="/product/<%= purl %>-in-<%= locations[i] %>"><%= locationNames[i] %></a></li>
              <%} %>
              
            </div>

          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>

<% } %>
