<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pt-100">
	<div class="container">
		<div class="row">
            <!-- Footer Widget -->
			<div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
				<h4 class="widget-title">Zinetgo</h4>
				<p class="text-justify">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
					type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
					remaining essentially unchanged.
				</p>
				
				<!-- Footer Social -->
				
			</div>
			
			<div class="footer-widget col-md-5 col-sm-5 col-xs-12 mb-40">
				<h4 class="widget-title">Products</h4>
				<div class="tag-cloud fix">

				    <li><a href="/product/stanley-sofa-shop-in-bangalore">Stanley Sofa's</a></li>
	                  <li><a href="/product/curtain-shop-in-bangalore">Curtains</a></li>
	                  <li><a href="/product/mattress-shop-in-bangalore">Mattresses</a></li>
	                  <li><a href="/product/wallpaper-shop-in-bangalore">Wallpapers</a></li>
	                  <li><a href="/product/blind-shop-in-bangalore">Blinds</a></li>
	   				  <li><a href="/product/customised-sofa-shop-in-bangalore">Custom Sofa</a></li>
	                  <li><a href="/product/wood-flooring-shop-in-bangalore">Wooden Flooring</a></li>
	                  <li><a href="/product/upholstery-shop-in-bangalore">Upholstery</a></li>
	                  <li><a href="/product/carpet-shop-in-bangalore">Carpets</a></li>
                      <li><a href="/product/bed-linen-shop-in-bangalore">Bed Linen</a></li>
                      <li><a href="/product/draping-rods-shop-in-bangalore">Draping Rods</a></li>
                      <li><a href="/product/door-mat-shop-in-bangalore">Door Mats</a></li>
	                  <li><a href="/products">Zinetgo Accessories</a></li>
	                  <li><a href="/product/zinetgo-on-wheel-in-bangalore">Zinetgo On-Wheels</a></li>
                      <li><a href="/product/interior-design-in-bangalore">Interior Design</a></li>
                      <li><a href="/product/turnkey-project-in-bangalore">Trunkey Project</a></li>
				</div>
			</div>
			<!-- Footer Widget -->
			<div class="footer-widget col-md-3 col-sm-3 col-xs-12 mb-40">
				<h4 class="widget-title">About Us</h4>
				<div class="tag-cloud fix" id="mc-embedded-subscribe-form" >
				    <li><a href="/about">About</a></li>
				 </div>
				<a href="/contact" class="contact-us">Contact Us</a>
				<div class="mt-40">
					<h4 class="widget-title">Connect with Us</h4>
					<div class="footer-social fix">
							<a href="https://www.facebook.com/zinetgo" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://www.zinetgo.com/" target="_blank">
							<i class="fa fa-google-plus"></i></a>	
							<!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
							<!-- <a href="#"><i class="fa fa-rss"></i></a> -->
							<a href="https://twitter.com/ZinetGo" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="https://www.pinterest.co.uk/zinetgoblr/" target="_blank"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
				 
			</div>	
		
		</div>
		
	</div>
</div>
<!-- FOOTER TOP SECTION END -->
<div class="footer-bottom-section section pb-20 pt-20">
	<div class="container">
		<div class="row">
			<h4 class="widget-title text-center">Contact Info</h4>
			<div class="footer-widget col-md-2 col-sm-2 col-xs-12 mt-20"></div>
			<div class="footer-widget col-md-4 col-sm-4 col-xs-12 mt-20">
				
				<h6 class="widget-title">Jayanagar</h6>
				<p>
					<span>
						<i class="fa fa-map-marker" style="color:#e10102;"></i>
						2nd Floor, Murudeswar Building,
						Opp Megamart, Marenahalli Rd,<br>
						Putlanpalya, 9th Block, Jayanagar,<br>
						Bengaluru, Karnataka 560069<br>
					</span>
					<span>
						<i class="fa fa-phone" style="color:#e10102;"></i>
						Call us: +91 986 855 1406
					</span>
					<span><i class="fa fa-envelope" style="color:#e10102;"></i>
						Mail Us: info@zinetgo.com
					</span>
			    </p>
						
			</div>
			<!-- <div class="footer-widget col-md-4 col-sm-4 col-xs-12 mt-20">
					<h6 class="widget-title">Banashankari</h6>
					<p>
					 <span>
						<i class="fa fa-map-marker clr"></i>
						100 ft, Ring Road, Near Kamakya <br>
						Theater, Banashankari 3rd Stage,<br> 
						Bengaluru, Karnataka 560085
					  </span>
					  
						<span>
							<i class="fa fa-phone clr"></i>
							Call us: 08041901405
						</span>
						<span><i class="fa fa-envelope clr"></i>
								Mail Us: furnishingforum@gmail.com 
						</span> 
					</p>
			</div>	 -->
		</div>
	</div>
</div>		
<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section pb-20 pt-20">
	<div class="container">
		<div class="row">
            <!-- Copyright -->
			<div class="copyright text-left col-sm-6 col-xs-12">
				<p>Copyright &copy; 2018 Zinetgo. All Right Reserved.</p>
				<p>Powered By <a target=_blank href="https://www.zinetgo.com">
					<span style="color:#2D67B2">Zinetgo<span style="color:#ea750c">Go</span></span>
					
				</a>
				</p>
			</div>
			<!-- Payment Method -->
			<div class="payment-method text-right col-sm-6 col-xs-12">
				<li><a href="/privacy">Privacy Policy</a></li>
				<img src="/templates/furnishing-template2/assets/img/payment/1.png" alt="payment" />
				<img src="/templates/furnishing-template2/assets/img/payment/2.png" alt="payment" />
				<img src="/templates/furnishing-template2/assets/img/payment/3.png" alt="payment" />
				<img src="/templates/furnishing-template2/assets/img/payment/4.png" alt="payment" />
			</div>
		</div>
	</div>
</div>
<!-- FOOTER BOTTOM SECTION END -->
