<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="google-site-verification" content="auehi6t_neZ2DQo4zGojjIQIokj7psihIRW5KD3qLV4" />

<title><%= meta_title %> - Zinetgo</title>
<meta name="description" content="<%= meta_description %>">

<meta name="keywords" content="<%= meta_keywords %>">

<link rel="canonical" href="<%= canonical_url %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/templates/furnishing-template2/assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/templates/furnishing-template2/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/templates/furnishing-template2/assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/templates/furnishing-template2/assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/templates/furnishing-template2/assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/templates/furnishing-template2/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/templates/furnishing-template2/assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/templates/furnishing-template2/assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/templates/furnishing-template2/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/templates/furnishing-template2/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/templates/furnishing-template2/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/templates/furnishing-template2/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/templates/furnishing-template2/assets/favicon/favicon-16x16.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="manifest" href="/templates/furnishing-template2/assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/templates/furnishing-template2/assets/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="p:domain_verify" content="197e6de4ff85ad6dd7651b44f0e94fde"/>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/bootstrap.min.css">
<!-- Icon Font -->
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/pe-icon-7-stroke.css">
<!-- Plugins css file -->
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/plugins.css">
<!-- Theme main style -->
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/responsive.css">
<link rel="stylesheet" href="/templates/furnishing-template2/assets/css/toastr.min.css">

<!-- Modernizr JS -->
<script src="/templates/furnishing-template2/assets/js/vendor/modernizr-2.8.3.min.js"></script>
