<header class="header-section section sticker ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-logo float-left">
                    <a href="/"><img src="/templates/furnishing-template2/assets/img/zinetgo-logo.jpg" style="width:200px; background-color: black;" alt="Zinetgo"></a>
                </div>
                <div class="float-right">
                   
                    <nav class="main-menu menu-right float-right">
                        <ul>                          
                            <li><a href="/product/zinetgo-on-wheel-in-bangalore" title="Zinetgo On Wheel">
                              <img src="/templates/furnishing-template2/assets/img/products/fow.gif" alt="zinetgo-on-wheel" style="width:50px;">FOW
                            </a></li>
                           
                            <li><a href="/product/stanley-sofa-shop-in-bangalore">Stanley Sofas</a></li>
                            <li><a>Interior Design</a>
                                <ul class="sub-menu">
                                    <li><a href="/product/interior-design-in-bangalore">Interior Project</a></li>
                                    <li><a href="/product/turnkey-project-in-bangalore">Turnkey Project</a></li>
                                </ul>    
                            </li>
                            
                            <li><a href="/products">Products</a>
                                <ul class="sub-menu">
                                      <li><a href="/product/curtain-shop-in-bangalore">Curtains</a></li>
                                      <li><a href="/product/mattress-shop-in-bangalore">Mattresses</a></li>
                                      <li><a href="/product/wallpaper-shop-in-bangalore">Wallpapers</a></li>
                                      <li><a href="/product/blind-shop-in-bangalore">Blinds</a></li>
                                      <li><a href="/product/customised-sofa-shop-in-bangalore">Customised Sofa</a></li>
                                      <li><a href="/product/wood-flooring-shop-in-bangalore">Wooden Flooring</a></li>
                                      <li><a href="/product/upholstery-shop-in-bangalore">Upholstery</a></li>
                                      <li class="dropdown-submenu">
                                      <a tabindex="-1" href="#">Accessories<span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="/product/carpet-shop-in-bangalore">Carpets</a></li>
                                        <li><a href="/product/bed-linen-shop-in-bangalore">Bed Linen</a></li>
                                        <li><a tabindex="-1" href="/product/draping-rods-shop-in-bangalore">Draping Rods</a>
                                        </li>
                                        <li><a tabindex="-1" href="/product/door-mat-shop-in-bangalore">Door Mats</a></li>
                                      </ul>
                                    </li>
                                  
                                </ul>
                            </li>
                             
                            <li><a href="/service">Services</a></li>
                            <li><a href="/blog">Blog</a></li>

                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
