<script type="text/javascript" src="/templates/furnishing-template2/assets/js/ff.js"></script>
<!-- jQuery latest version -->
<script src="/templates/furnishing-template2/assets/js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap js -->
<script src="/templates/furnishing-template2/assets/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/templates/furnishing-template2/assets/js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="/templates/furnishing-template2/assets/js/ajax-mail.js"></script>
<!-- Main js -->
<script src="/templates/furnishing-template2/assets/js/main.js"></script>
<script src="/templates/furnishing-template2/assets/js/toastr.min.js"></script>
<script src="/templates/furnishing-template2/assets/js/contact.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQbZfisuLTJOM7efNeGQ4IHHzPsAC7h4&libraries=places&callback=initAutocomplete" async defer>
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113374872-1">
</script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-113374872-1');
</script>

<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '175781323126018'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=175781323126018&ev=PageView
    &noscript=1"/>
</noscript>