<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>404</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">400</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-section section pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="contact-info col-md-6 col-xs-12 mb-40">
                <h3>404</h3>
                <p>
                    <span>404<br> Page not found!!
                    </span>
                </p>
            </div>
           
        </div>
    </div>
</div>