<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>500</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">500</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-section section pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="contact-info col-md-6 col-xs-12 mb-40">
                <h3>500</h3>
                <p>               
                    <span>500<br> Server Error!!
                    </span>
                </p>
            </div>           
        </div>
    </div>
</div>
