<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Blog</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->

<!-- PAGE SECTION START -->
<div class="blog-section section pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                <h4>latest from</h4>
                <h2>our blog</h2>
            </div>
        </div>
        <% if(blogs && blogs.length>0){ var blog = blogs; %>
        <div class="row">
            <% blog.forEach(function(blog){ %>
            <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
                <div class="blog-item">
                    <a class="image" href="/blog/<%= blog.uName %>"><img src="<%= blog.coverImage %>" alt="blog image zinetgo"></a>
                    <div class="blog-dsc" style="height: 100px;">
                     
                        <h4 class="title"><a href="/blog/<%= blog.uName %>"><%= blog.title %></a>
                        </h4>
                        
                        <span class="author">by <a>Zinetgo</a></span>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <% } else { %>
            <p class="text-center">Currently no blogs are available. Visit us again </p>
        <% } %>
        <div class="page-pagination text-center col-xs-12 fix mb-40">
            <ul>
                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->

