
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2 class="text-center"><%= blog.title %></h2>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->

<!-- PAGE SECTION START -->
<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <!-- Single Blog Post -->
                <div class="single-blog-post">
                    <div class="blog-img">
                        <img alt="zinetgo -blog-image" src="<%-blog.coverImage%>">
                    </div>
                    <div class="blog-info">
                        <h3 class="title"><%= blog.title %></h3>
                        
                        <div class="blog-meta">
                            <span><a href="#"><i class="fa fa-user"></i> Zinetgo</a></span>
                        </div>
                        <%- blog.content %>
                    </div>
                </div>
            </div>
          <!--   <div class="col-lg-3 col-md-4 col-xs-12">

                <div class="single-sidebar mb-40">
                    <h3 class="sidebar-title">Popular Post</h3>
                    <div class="post-sidebar">
                        <div class="post fix">
                            <a href="#" class="image"><img src="/assets/img/blog/sp-1.jpg" alt=""></a>
                            <div class="content fix">
                                <h5 class="title"><a href="#">The history of furniture</a></h5>
                                <span class="author">by <a href="#">Julie Bates</a></span>
                            </div>
                        </div>
                        <div class="post fix">
                            <a href="#" class="image"><img src="/assets/img/blog/sp-2.jpg" alt=""></a>
                            <div class="content fix">
                                <h5 class="title"><a href="#">The history of furniture</a></h5>
                                <span class="author">by <a href="#">Julie Bates</a></span>
                            </div>
                        </div>
                        <div class="post fix">
                            <a href="#" class="image"><img src="/assets/img/blog/sp-3.jpg" alt=""></a>
                            <div class="content fix">
                                <h5 class="title"><a href="#">The history of furniture</a></h5>
                                <span class="author">by <a href="#">Julie Bates</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar mb-40">
                    <h3 class="sidebar-title">Category</h3>
                    <ul class="category-sidebar">
                        <li><a href="#">Chairs</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Sofas</a></li>
                        <li><a href="#">Lights &AMP; Lamps</a></li>
                        <li><a href="#">Decorations</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </div>

                <div class="single-sidebar mb-40">
                    <h3 class="sidebar-title">Archive</h3>
                    <ul class="archive-sidebar">
                        <li><a href="#">May 2017</a></li>
                        <li><a href="#">April 2017</a></li>
                        <li><a href="#">March 2017</a></li>
                        <li><a href="#">February 2017</a></li>
                        <li><a href="#">January 2017</a></li>
                        <li><a href="#">December 2016</a></li>
                        <li><a href="#">November 2016</a></li>
                    </ul>
                </div>

                <div class="single-sidebar mb-40">
                    <h3 class="sidebar-title">Popular Tags</h3>
                    <div class="tag-cloud">
                        <a href="#">Chairs</a>
                        <a href="#">Tables</a>
                        <a href="#">Sofas</a>
                        <a href="#">Lights</a>
                        <a href="#">Lamps</a>
                        <a href="#">curtains</a>
                        <a href="#">cabinets</a>
                    </div>
                </div>

            </div> -->
        </div>
    </div>
</div>
