<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Contact</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->

<!-- PAGE SECTION START -->
<div class="page-section section pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="contact-info col-md-6 col-xs-12 mb-40">
                <h3>Contact Info</h3>

                <p><i class="pe-7s-map-marker"></i>
                    <span>2nd Floor, Murudeswar Building,
                        Opp Megamart, Marenahalli Rd,
                        Putlanpalya, Jayanagar 9th Block, Bangalore<br>
                        PIN - 560069</span></p>
                    <!-- <p><i class="pe-7s-map-marker"></i><span>100 ft, Ring Road, Near Kamakya Theater, <br>B.S.K 3rd Stage, Bengaluru, Karnataka 560085 </span>
                    </p> -->
                    <p><i class="pe-7s-call"></i><span>Phone : +91 986 855 1406 , +91 767 641 1204</span></p>
                    <p>
                        <i class="pe-7s-mail"></i>
                        <a href="info@zinetgo.com">info@zinetgo.com</a>
                    </p>
                    <div class="contact-social">
                        <a href="https://www.facebook.com/zinetgo" target="_blank">
                                    <i class="fa fa-facebook"></i></a>
                        <a href="https://www.zinetgo.com/" target="_blank">
                                <i class="fa fa-google-plus"></i></a>        
                        <a href="https://twitter.com/ZinetGo" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.pinterest.co.uk/zinetgoblr/" target="_blank"><i class="fa fa-pinterest"></i></a>
                       <!--  <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a> -->
                    </div>
    

            </div>
            <div class="contact-form col-md-6 col-xs-12 mb-40">
                <h3>Contact form</h3>
                <form id="contact-form">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 mb-20">
                            <label for="name">Name<span class="required">*</span></label>
                            <input id="fname" name="fname" type="text" placeholder="" required>
                        </div>
                        <div class="col-sm-4 col-xs-12 mb-20">
                            <label for="email">Email<span class="required">*</span></label>
                            <input id="email" name="email" type="email" placeholder="" required>
                        </div>
                        <div class="col-sm-4 col-xs-12 mb-20">
                            <label for="mobile">Mobile<span class="required">*</span></label>
                            <input id="mobile" name="mobile" type="text" placeholder="" required maxlength="9999999999" minlength="1000000000">
                        </div>
                        <div class="col-xs-12 mb-20">
                            <label for="description">Message</label>
                            <textarea id="description" rows="4" name="description">
                            </textarea>
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" id="contactnow" value="send">
                            <span class="required pull-right">* Required Field</span> </div>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
            <div class="col-xs-12 mt-40">
                <div id="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.854777447345!2d77.59201571438206!3d12.917053819568853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae156e69e27911%3A0x3dadcfc57d5eda8!2sZinetGo+Technologies+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1511939354848" width="1150" height="450" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->





<!-- Start pastners -->
<!-- <div class="product-section section pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                
                <h2>Our Business Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">

                    <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#"  target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg" height="70" width="100" alt="dicitex-zinetgo-logo" /></a>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                                <div class="product-item text-center">
                                    <div class="product-img">
                                        <a class="image" href="#"  target="_blank">
                                            <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"   height="70" width="100" alt="seasons-zinetgo-logo" /></a>
            
                                    </div>
                                </div>
                            </div>

               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70" width="100" alt="nuhome-logo" /></a>

                        </div>
                    </div>
                </div>
               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70" width="100" alt="obsessions-logo" /></a>

                        </div>
                    </div>
                </div>
               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                         <a class="image" href="#" target="_blank">     
                            <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg"  alt="peps-mattressess-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                         <a class="image" href="#" target="_blank">  
                            <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70" width="200"  alt="" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90" width="100" alt="best-rosemoore-in bangalore" /></a>
                            </div>
                        </div>
                    </div>
                    

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70" width="100" alt="portico-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                 <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg" alt="decor-home-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90" width="100" alt="artezen-decor-logo" />
                                </a>
    
                            </div>
                        </div>
                    </div>
                    

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70" width="100" alt="gm-fabrics-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75" width="100" alt="stanly-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75" width="100"  alt="pure-fabric-logo" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Partners Ends>