<!-- START SLIDER SECTION -->
<div class="home-slider-section section">
    <div class="container">
        <!-- Home Slider -->
        <div id="home-slider" class="slides">
            <img src="/templates/furnishing-template2/assets/img/products/curtain-2.jpg" alt="slider-curtains" title="#slider-caption-1" />
            <img src="/templates/furnishing-template2/assets/img/products/m5.jpg" alt="ffslider" title="#slider-caption-3" />
            <img src="/templates/furnishing-template2/assets/img/products/w.jpg" alt="ffslider" title="#slider-caption-4" />
            <img src="/templates/furnishing-template2/assets/img/products/blinds-big.jpg" alt="ffslider" title="#slider-caption-5" />
            <img src="/templates/furnishing-template2/assets/img/products/s-sofa.jpg" alt="ffslider" title="#slider-caption-2" />
        </div>
        <!-- Caption 1 -->
        <div id="slider-caption-1" class="nivo-html-caption">
            <div class="row">
                <div class="hero-slider-content-2 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"> <span>Curtains</span></h1>
                    <a href="/product/curtain-shop-in-bangalore" class="wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="1s">Know More</a>
                </div>
            </div>

        </div>
        <!-- Caption 2 -->
        <div id="slider-caption-2" class="nivo-html-caption">
            <div class="row">
                <div class="hero-slider-content-2 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><span>Stanley Sofa</span></h1>
                    <a href="/product/stanley-sofa-shop-in-bangalore" class="wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="1s">Know More</a>
                </div>
            </div>
        </div>

        <div id="slider-caption-3" class="nivo-html-caption">
            <div class="row">
                <div class="hero-slider-content-2 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"> <span>Mattress</span></h1>
                    <a href="/product/mattress-shop-in-bangalore" class="wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="1s">Know More</a>
                </div>
            </div>
        </div>

        <div id="slider-caption-4" class="nivo-html-caption">
            <div class="row">
                <div class="hero-slider-content-2 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"> <span>Wallpaper</span></h1>
                    <a href="/product/wallpaper-shop-in-bangalore" class="wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="1s">Know More</a>
                </div>
            </div>
        </div>

        <div id="slider-caption-5" class="nivo-html-caption">
            <div class="row">
                <div class="hero-slider-content-2 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"> <span>Blinds</span></h1>
                    <a href="/product/blind-shop-in-bangalore" class="wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="1s">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDER SECTION -->

<!-- <div class="service-section section pt-70 pb-40">
    <div class="container">
        <div class="row">
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-world"></i>
                </div>
                <div class="service-title">
                    <h3>FREE SHIPPING</h3>
                    <p>Free shipping on all orders</p>
                </div>
            </div>
             <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-cash"></i>
                </div>
                <div class="service-title">
                    <h3>EASY PAYMENT</h3>
                    <p>We accept all payment methods</p>
                </div>
            </div>
          
           
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-headphones"></i>
                </div>
                <div class="service-title">
                    <h3>PREMIUM SUPPORT</h3>
                    <p>We support online 10 hours a day</p>
                </div>
            </div>

            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-settings"></i>
                </div>
                <div class="service-title">
                    <h3>MAINTENANCE</h3>
                    <p>We provide service for our products</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- PRODUCT SECTION START -->
<div class="product-section section pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title col-xs-12 mb-20 pt-40">
                <h2 class="text-center">Welcome to Zinetgo Your Dreams Home Maker</h2>
                <p class="text-justify mt-20">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                    McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                    obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                    word in classical literature, discovered the undoubtable source.</p>
                <p class="text-justify"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                    through the cites of the word in classical literature, discovered the undoubtable source. Lorem
                    Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
                    Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                    popular during the Renaissance. </p>
                <p class="text-justify">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                    those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                    also reproduced in their exact original form, accompanied by English versions from the 1914
                    translation by H. Rackham.</p>
            </div>
            <div class="section-title text-center col-xs-12 mb-70">

                <h2>Our Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/product/stanley-sofa-shop-in-bangalore">
                                <img src="/templates/furnishing-template2/assets/img/products/sofa1.jpg" alt="Sofa Collection" /></a>

                        </div>
                        <div class="product-info">
                            <h3 class="title"><a href="/product/stanley-sofa-shop-in-bangalore">Stanley Sofa</a></h3>
                        </div>

                    </div>
                </div>
                <!-- product-item end -->
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/product/curtain-shop-in-bangalore">
                                <img src="/templates/furnishing-template2/assets/img/products/curtains4.jpeg" alt="Curtains Collection" />
                            </a>

                        </div>
                        <div class="product-info">
                            <h3 class="title"><a href="/product/curtain-shop-in-bangalore">Curtains</a></h3>
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/product/mattress-shop-in-bangalore">
                                <img src="/templates/furnishing-template2/assets/img/products/mattress.jpg" alt="Mattress Collection" /></a>

                        </div>
                        <div class="product-info">
                            <h3 class="title"><a href="/product/mattress-shop-in-bangalore">Mattress</a></h3>
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/product/wallpaper-shop-in-bangalore">
                                <img src="/templates/furnishing-template2/assets/img/products/wallpaper2.jpg" alt="wallpapershop" /></a>

                        </div>
                        <div class="product-info">
                            <h3 class="title"><a href="/product/wallpaper-shop-in-bangalore"> Wallpaper</a></h3>
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/product/upholstery-shop-in-bangalore"><img src="/templates/furnishing-template2/assets/img/products/upholstery.jpg"
                                    alt="upholstery" /></a>

                        </div>
                        <div class="product-info">
                            <h3 class="title"><a href="/product/upholstery-shop-in-bangalore">Upholstery</a></h3>
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->

<!-- BANNER-SECTION START -->
<div class="banner-section section pb-100">
    <div class="container">
        <div class="row">
            <!-- Banner Item Start -->
            <div class="col-xs-12">
                <div class="single-banner-2">
                    <img src="/templates/furnishing-template2/assets/img/products/s-sofa.jpg" alt="Stanley Sofa">
                    <div class="content">
                        <h1>Stanley Sofa</h1>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                            tend to repeat predefined chunks as necessary, making this the first true generator on the
                            Internet.
                        </p>
                        <a href="/products">view more</a>
                    </div>
                </div>
            </div>
            <!-- Banner Item End -->
        </div>
    </div>
</div>
<!-- BANNER-SECTION END -->

<!-- PRODUCT SECTION START -->
<div class="product-section section">
    <div class="container">
        <div class="row">
            <div class="section-title col-xs-12 mb-70">
                <h2 class="text-center">Featured</h2>
                <p class="text-justify mt-20"> It uses a dictionary of over 200 Latin words, combined with a handful of
                    model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                    Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words which don't
                    look even slightly believable.</p>
                <p class="text-justify"> It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.</p>
                <p class="text-justify">We want to make it as easy as possible for you to visit our shop in <strong>Jayanagar
                    </strong>.</p>
            <div class="col-md-6 col-xs-12 mb-100">
                <div class="row">
                    <!--  <div class="section-title text-center col-xs-12 mb-70">
                        <h2>Featured</h2>
                    </div> -->
                    <div class="product-slider product-slider-2">
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/curtain-shop-in-bangalore">
                                        <img src="/templates/furnishing-template2/assets/img/products/curtains.jpg" alt="curtains" />
                                    </a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/curtain-shop-in-bangalore">Curtains</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/stanley-sofa-shop-in-bangalore">
                                        <img src="/templates/furnishing-template2/assets/img/products/sofa1.jpg" alt="Stanley sofa" /></a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/stanley-sofa-shop-in-bangalore">Sofa</a></h3>
                                </div>

                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/wallpaper-shop-in-bangalore">
                                        <img src="/templates/furnishing-template2/assets/img/products/wallpaper.jpg" alt="wallpaper" /></a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/wallpaper-shop-in-bangalore">Wall Paper</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- product-item end -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 mb-100">
                <div class="row">
                    <!-- <div class="section-title text-center col-xs-12 mb-70">
                        <h2>Bestseller</h2>
                    </div> -->
                    <div class="product-slider product-slider-2">
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/blind-shop-in-bangalore">
                                        <img src="/templates/furnishing-template2/assets/img/products/blinds.jpg" alt="blinds" /></a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/blind-shop-in-bangalore">Blinds</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/wood-flooring-shop-in-bangalore">
                                        <img src="/templates/furnishing-template2/assets/img/products/wooden-flooring.jpg" alt="wooden-flooring" /></a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/wood-flooring-shop-in-bangalore">Wooden
                                            Flooring</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/upholstery-shop-in-bangalore"><img src="/templates/furnishing-template2/assets/img/products/upholstery.jpg"
                                            alt="upholstery" /></a>

                                </div>
                                <div class="product-info">
                                    <h3 class="title"><a href="/product/upholstery-shop-in-bangalore">Upholstery</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- product-item end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->

<!-- TESTIMONIAL SECTION START -->
<div class="section mb-40">
    <div class="container">
        <div class="testimonial-section pt-100 pb-100">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <!-- Testimonial Slider -->
                    <div class="testimonial-slider text-center">
                        <!-- Single Testimonial -->
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <p>“We are impressed with the service and product that we receive. Thanks you very much.”</p>
                            <i class="pe-7s-way"></i>
                            <h5>Anushka</h5>
                        </div>
                        <div class="single-testimonial">
                            <!--  <img src="/templates/furnishing-template2/assets/img/testimonial/1.png" alt=""> -->
                            <p>“Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book. It
                                has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. " </p>
                            <i class="pe-7s-way"></i>
                            <h5>Radha</h5>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <!-- <img src="/templates/furnishing-template2/assets/img/testimonial/2.png" alt=""> -->
                            <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                their infancy.”</p>
                            <i class="pe-7s-way"></i>
                            <h5>Puja Kumari</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL SECTION END -->

<div class="blog-section section pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                <h4>latest from</h4>
                <h2>our blog</h2>
            </div>
        </div>
        <% if(blogs && blogs.length>0){ var blog = blogs; %>
        <div class="row">
            <% blog.forEach(function(blog){ %>
            <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
                <div class="blog-item">
                    <a class="image" href="/blog/<%= blog.uName %>"><img src="<%= blog.coverImage %>" alt="blog image zinetgo"></a>
                    <div class="blog-dsc" style="height: 100px;">

                        <h4 class="title"><a href="/blog/<%= blog.uName %>">
                                <%= blog.title %></a>
                        </h4>
                        <span class="author">by <a>
                                Zinetgo</span>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <% } else { %>
        <p class="text-center">Currently no blogs are available. Visit us again </p>
        <% } %>
    </div>
</div>
<!-- BLOG SECTION END -->