<!DOCTYPE html>
<% meta_title = title; %>
<html class="no-js" lang="en">
	<head>  
    <%- partial('partials/head') %>   
  </head>
    <body>
		     <%- body %>			
      
       <%- partial('partials/scripts') %>
    </body>
</html>