<!DOCTYPE html>

<% meta_title = title; %> <% meta_description = description; %> <% meta_keywords = keywords; %>
<% canonical_url = canonical; %> <% pname = product; %> <% purl = productURL; %> <% lname = location; %>

<html class="no-js" lang="en">
	<head>
        <%- partial('partials/head') %>
    </head>
    <body>
      <div class="wrapper">
	       <%- partial('partials/header') %>
		     <%- body %>			
		     <%- partial('partials/footer') %>
      </div>
		    <%- partial('partials/scripts') %>
    </body>
</html>