<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Furnishing Products</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">products</li>
                </ul>
            </div>
        </div>
    </div>
</div>

           <div class="blog-area">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-12">
                           <div class="area-title text-center pt-30">

                               <h1>Zinetgo Products</h1>
                              
                               <blockquote>
                                 <p>"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. "</p>
                               </blockquote>
                               <p class="text-justify">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

                              <p class="text-justify" > Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>

                              <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>

                              <p class="text-justify"> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                               
                           </div>
                       </div>

                   </div>
               </div>
           </div>
           <!-- End blog area -->
           <div class="blog-area mb-20">
               <div class="container">
                   <div class="row">
                       
                           <div class="col-sm-4">
                                       <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/wallpaper-shop-in-bangalore">
                                    <img src="/templates/furnishing-template2/assets/img/products/3dwallpaper.jpg" alt="Wallpaper Collection"/></a>

                                </div>
                                 <div class="product-info">
                                    <h3 class="title"><a href="/product/wallpaper-shop-in-bangalore"> Wallpapers</a></h3>
                                </div>

                              </div>
                           </div>
                           <div class="col-sm-4">
                                         <div class="product-item text-center">
                                  <div class="product-img">
                                      <a class="image" href="/product/blind-shop-in-bangalore">
                                      <img src="/templates/furnishing-template2/assets/img/products/blinds.jpg" alt="Blinds Collection"/></a>

                                  </div>
                                   <div class="product-info">
                                      <h3 class="title"><a href="/product/blind-shop-in-bangalore">Blinds</a></h3>
                                  </div>

                                </div>
                           </div>
                           <div class="col-sm-4">
                                        <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/curtain-shop-in-bangalore">
                                    <img src="/templates/furnishing-template2/assets/img/products/curtains.jpg" alt="Curtain Collection"/></a>

                                </div>
                                 <div class="product-info">
                                    <h3 class="title"><a href="/product/curtain-shop-in-bangalore">Curtains</a></h3>
                                </div>

                              </div>
                           </div>

                   </div>
               </div>
           </div>

           <div class="blog-area mb-20">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-12">
                         <br />
                       </div>
                        <div class="col-sm-4">
                              <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="/product/stanley-sofa-shop-in-bangalore">
                                <img src="/templates/furnishing-template2/assets/img/products/sofa1.jpg" alt="Customised Collection"/></a>

                            </div>
                             <div class="product-info">
                                <h3 class="title"><a href="/product/stanley-sofa-shop-in-bangalore">Customised Sofa</a></h3>
                            </div>

                      </div>
                       </div>
                           <div class="col-sm-4">
                                       <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/upholstery-shop-in-bangalore">
                                    <img src="/templates/furnishing-template2/assets/img/products/upholstery.jpg" alt="Upholstery Collection"/></a>

                                </div>
                                 <div class="product-info">
                                    <h3 class="title"><a href="/product/upholstery-shop-in-bangalore">Upholstery</a></h3>
                                </div>

                              </div>
                           </div>
                           <div class="col-sm-4">
                                      <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/carpet-shop-in-bangalore">
                                    <img src="/templates/furnishing-2/assets/img/products/c2.jpg" alt="Carpet Collection"/></a>

                                </div>
                                 <div class="product-info">
                                    <h3 class="title"><a href="/product/carpet-shop-in-bangalore">Carpets</a></h3>
                                </div>

                              </div>
                           </div>

                   </div>
               </div>
           </div>

           <div class="blog-area mb-20">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-12">
                         <br />
                       </div>
                           <div class="col-sm-4">
                                         <div class="product-item text-center">
                                  <div class="product-img">
                                      <a class="image" href="/product/bed-linen-shop-in-bangalore">
                                      <img src="/templates/furnishing-template2/assets/img/products/bed-linen.jpg" alt="Bed Linen Collection"/></a>

                                  </div>
                                   <div class="product-info">
                                      <h3 class="title"><a href="/product/bed-linen-shop-in-bangalore">Bed Linen</a></h3>
                                  </div>

                                </div>
                           </div>
                           <div class="col-sm-4">
                                        <div class="product-item text-center">
                                  <div class="product-img">
                                      <a class="image" href="/product/draping-rods-shop-in-bangalore">
                                      <img src="/templates/furnishing-template2/assets/img/products/drapes.jpg" alt="drapes Collection"/></a>

                                  </div>
                                   <div class="product-info">
                                      <h3 class="title"><a href="/product/draping-rods-shop-in-bangalore">Drapes</a></h3>
                                  </div>

                                </div>
                           </div>
                           <div class="col-sm-4">
                                       <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="/product/mattress-shop-in-bangalore">
                                    <img src="/templates/furnishing-template2/assets/img/products/mattress.jpg" alt="mattress Collection"/></a>

                                </div>
                                 <div class="product-info">
                                    <h3 class="title"><a href="/product/mattress-shop-in-bangalore">Mattress</a></h3>
                                </div>

                              </div>
                           </div>

                   </div>
               </div>
           </div>
<!-- Start pastners -->
<div class="product-section section pb-100">
        <div class="container">
            <div class="row">
                <div class="section-title text-center col-xs-12 mb-70">
                    
                    <h2>Our Business Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="product-slider product-slider-4">
    
                        <div class="col-xs-12">
                                <div class="product-item text-center">
                                    <div class="product-img">
                                        <a class="image" href="#"  target="_blank">
                                            <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg" height="70" width="100" alt="dicitex-furnishing-logo" /></a>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                    <div class="product-item text-center">
                                        <div class="product-img">
                                            <a class="image" href="#"  target="_blank">
                                                <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"   height="70" width="100" alt="seasons-furnishing-logo" /></a>
                
                                        </div>
                                    </div>
                                </div>
    
                   
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70" width="100" alt="nuhome-logo" /></a>
    
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70" width="100" alt="obsessions-logo" /></a>
    
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                             <a class="image" href="#" target="_blank">     
                                <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg"  alt="peps-mattressess-logo" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                             <a class="image" href="#" target="_blank">  
                                <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70" width="200"  alt="" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90" width="100" alt="best-rosemoore-in bangalore" /></a>
                                </div>
                            </div>
                        </div>
                        
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#"  target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70" width="100" alt="portico-logo" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#"  target="_blank">
                                     <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg" alt="decor-home-furnishing-logo" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90" width="100" alt="artezen-decor-logo" />
                                    </a>
        
                                </div>
                            </div>
                        </div>
                        
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#"  target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70" width="100" alt="gm-fabrics-logo" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#"  target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75" width="100" alt="stanly-logo" /></a>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#"  target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75" width="100"  alt="pure-fabric-logo" /></a>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Partners Ends -->