<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Services</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE BANNER SECTION -->
<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12">
                <!-- Single Blog Post -->
                <div class="single-blog-post">

                    <div class="blog-info">
                        <img src="/templates/furnishing-template2/assets/img/products/services.png" alt="banner" />

                        <h4 class="pt-50">MEASUREMENT &amp; CONSULTING SERVICE</h4>
                        <p class="text-justify mt-20 ">It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <h4 class="pt-20">RE-UPHOLSTERY SERVICE</h4>
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book</p>
                        <h4 class="pt-20">CUSTOMISE &amp; TAILORING SERVICES</h4>
                        <p class="text-justify">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                            here, content here', making it look like readable English.</p>
                        <h4 class="pt-20">INSTALLATION AND TIMELY DELIVERY</h4>
                        <p class="text-justify">Many desktop publishing packages and web page editors now use Lorem
                            Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                            sites still in their infancy. Various versions have evolved over the years, sometimes by
                            accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>