<div class="u-section">
    <div class="container">
        <div class="row">
            
            <div class="section-title col-xs-12 pb-50 pt-150">
                <h1 class="text-center" style="color:#fff;">Website Under Construction ...</h1>  
             </div> 
             
        </div>
    </div>
</div>


<!-- PRODUCT SECTION START -->
<div class="b-section">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 text-center pt-20 ">
                <div class="pt-20 ">
                <img src="/templates/furnishing-template2/assets/img/ff-250x.jpg" alt="Zinetgo" />
                </div>
                <div class="footer-widget col-md-12 col-sm-12 col-xs-12 pt-20 mb-40">
                <h3 class="widget-title">What we do</h3>
                <div class="tag-cloud fix">
                      <a>Stanley Sofa's</a>
                      <a>Curtains</a>
                      <a>Mattresses</a>
                      <a>Wallpapers</a>
                      <a>Blinds</a>
                      <a>Custom Sofa</a>
                      <a>Wooden Flooring</a>
                      <a>Upholstery</a>
                      <a>Carpets</a>
                      <a>Bed Linen</a>
                      <a>Draping Rods</a>
                      <a>Door Mats</a>
                      <a>Zinetgo Accessories</a>
                      <a>Interior Design</a>
                      <a>Turnkey Project</a>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>

<div class="page-section section pt-30 pb-100">
    <div class="container">
        <div class="row">
             <div class="section-title col-xs-12 pt-20">
                <h1 class="text-center">Contact Info</h1>  
             </div> 
            <div class="contact-info col-md-6 col-xs-12 pt-20 mb-40">
                

                <p><i class="pe-7s-map-marker"></i>
                <span>2nd Floor, Murudeswar Building,
                    Opp Megamart, Marenahalli Rd,<br>
                    Putlanpalya, Jayanagar 9th Block,<br>
                     Bangalore, KA<br>
                    PIN - 560069</span></p>
               
                <p><i class="pe-7s-call"></i><span>Phone : +91 986 855 1406</span></p>
                <p>
                    <i class="pe-7s-mail"></i>
                    <a href="mailTo:info@zinetgo.com">info@zinetgo.com</a>
                </p>             
            </div>

            <!-- <div class="contact-info col-md-6 col-xs-12 pt-20 mb-40">
              <p><i class="pe-7s-map-marker"></i><span>100 ft, Ring Road, Near Kamakya Theater, <br>B.S.K 3rd Stage, Bengaluru, Karnataka 560085 </span>
                </p>
                <p><i class="pe-7s-call"></i><span>Phone : 08041901405</span></p>
                 <p>
                    <i class="pe-7s-mail"></i>
                    <a href="mailTo:furnishingforum@gmail.com">furnishingforum@gmail.com</a>
                </p>
             </div> -->
            <div class="col-md-12">
                  <div id="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.854777447345!2d77.59201571438206!3d12.917053819568853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae156e69e27911%3A0x3dadcfc57d5eda8!2sZinetGo+Technologies+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1511939354848" width="1150" height="600" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>            
                </div>
            </div>
        </div>
    </div>
</div>