<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Curtains</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li class="active">Curtains</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->

<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12">
                <div class="single-blog-post">
                    <div class="blog-img">
                        <div id="home-slider" class="slides">
                            <img src="/templates/furnishing-template2/assets/img/products/curtain-2.jpg" alt="Curtains" />
                            <img src="/templates/furnishing-template2/assets/img/products/curtains1.jpg" alt="Curtains" />
                            <img src="/templates/furnishing-template2/assets/img/products/curtains-for-a-living-room.jpg" alt="Curtains" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-30">
            <div class=" col-md-8 col-xs-12">
                <div class="blog-info">
                    <h2 class="title">Curtains</h2>
                    <p class="text-justify mt-20">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
                        Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a
                        treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                    <p class="text-justify"> Richard McClintock, a Latin professor at Hampden-Sydney College in
                        Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                        passage, and going through the cites of the word in classical literature, discovered the
                        undoubtable source.</p>
                    <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                    <p class="text-justify">All the Lorem Ipsum generators on the Internet tend to repeat predefined
                        chunks as necessary, making this the first true generator on the Internet.</p>
                    <p>Call +91 986 855 1406 to speak to our representative about our full range of luxury Curtains.</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="login-reg-form" style="background-color:gainsboro">
                    <h4 class="text-center">Get Your Free Consultation</h4>
                    <hr>
                    <form id="booking-form">
                        <div class="row">
                            <input type="hidden" value="915086e7-ce6a-4b70-b67b-54276595df5a" id="serviceId" name="serviceId" />
                            <div class="col-xs-12 mb-20">
                                <label for="bname">Name<span class="required">*</span></label>
                                <input name="bname" id="bname" type="text" placeholder="Enter Your Name">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bmobile">Mobile<span class="required">*</span></label>
                                <input name="bmobile" id="bmobile" type="text" placeholder="Enter Your Mobile">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bemail">Email<span class="required">*</span></label>
                                <input name="bemail" id="bemail" type="email" placeholder="Enter Your Email">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="autocomplete">Location<span class="required">*</span></label>
                                <input name="autocomplete" id="autocomplete" rows="3" type="text" onFocus="geolocate()"
                                    placeholder="Enter Your Location">

                            </div>
                            <div class="mb-20" style="float:right;">
                                <input value="Book" id="bookService" class="inline" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  <div class="blog-area pt-30">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-12">
                           <div class="area-title text-center">
                               <h3>Our Collections</h3>
                           </div>
                       </div>
                         <div class="col-sm-4">
                                        <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#">
                                    <img src="/assets/img/products/curtains.jpg" alt="Curtain Collection"/></a>

                                </div>


                              </div>
                           </div>

                           <div class="col-sm-4">
                                       <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#">
                                    <img src="/assets/img/products/curtains4.jpeg" alt="curtains Collection"/></a>

                                </div>


                              </div>
                           </div>
                           <div class="col-sm-4">
                                         <div class="product-item text-center">
                                  <div class="product-img">
                                      <a class="image" href="#">
                                    <img src="/assets/img/products/curtains3.jpg" alt="Curtains Collection"/></a>

                                  </div>


                                </div>
                           </div>


                   </div>
               </div>
           </div> -->
           <div class="product-section section pb-100">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center col-xs-12 mb-70">
        
                        <h2>Our Business Partners</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="product-slider product-slider-4">
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg"
                                            height="70" width="100" alt="dicitex-zinetgo-logo" /></a>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"
                                            height="70" width="100" alt="seasons-zinetgo-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70"
                                            width="100" alt="nuhome-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70"
                                            width="100" alt="obsessions-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg" alt="peps-mattressess-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70"
                                            width="200" alt="" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90"
                                            width="100" alt="best-rosemoore-in bangalore" /></a>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70"
                                            width="100" alt="portico-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg"
                                            alt="decor-home-zinetgo-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90"
                                            width="100" alt="artezen-decor-logo" />
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70"
                                            width="100" alt="gm-fabrics-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75"
                                            width="100" alt="stanly-logo" /></a>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#" target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75"
                                            width="100" alt="pure-fabric-logo" /></a>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Partners Ends -->