<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Interior Design</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li class="active">Interior Design</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12">
                <div class="single-blog-post">
                     <div class="blog-img">
                      <div id="home-slider" class="slides">
                      <img src="/templates/furnishing-template2/assets/img/products/interior-design-2.jpg" alt="interior design"  />
                          <img src="/templates/furnishing-template2/assets/img/products/interior-design-3.jpg" alt="interior design"  />
                          <img src="/templates/furnishing-template2/assets/img/products/interior-design.jpg" alt="interior design" />           
                      </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="blog-info">
                    <h2 class="title">Interior Design</h2>
                    <p class="text-justify mb-20">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.</p>
                    <p class="text-justify">It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>

                    <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don't look even slightly believable.<p>

                            <p class="text-justify">he standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                                Malorum" by Cicero are also reproduced in their exact original form, accompanied by
                                English versions from the 1914 translation by H. Rackham.</p>
                                
                            <p>Call +91 986 855 1406 to speak to our representative about our full range of luxury
                                Interior Design.</p>
                  </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="login-reg-form"  style="background-color:gainsboro">
                     <h4 class="text-center">Get Your Free Consultation</h4>
                    <hr>
                    <form id="booking-form">
                        <div class="row">
                            <input type="hidden" value="1caa22a7-8301-4b65-9846-64892843ecbc" id="serviceId" name="serviceId" />
                            <div class="col-xs-12 mb-20">
                                <label for="bname">Name<span class="required">*</span></label>
                                <input name="bname" id="bname" type="text" placeholder="Enter Your Name">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bmobile">Mobile<span class="required">*</span></label>
                                <input name="bmobile" id="bmobile" type="text" placeholder="Enter Your Mobile">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bemail">Email<span class="required">*</span></label>
                                <input name="bemail" id="bemail" type="email" placeholder="Enter Your Email">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="autocomplete">Location<span class="required">*</span></label>
                                <input name="autocomplete" id="autocomplete" rows="3" type="text" onFocus="geolocate()" placeholder="Enter Your Location">
                            </div>
                            <div class="mb-20" style="float:right;">
                                <input value="Book" id="bookService" class="inline" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>                    

<div class="product-section section pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">

                <h2>Our Business Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg"
                                    height="70" width="100" alt="dicitex-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"
                                    height="70" width="100" alt="seasons-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70"
                                    width="100" alt="nuhome-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70"
                                    width="100" alt="obsessions-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg" alt="peps-mattressess-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70"
                                    width="200" alt="" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90"
                                    width="100" alt="best-rosemoore-in bangalore" /></a>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70"
                                    width="100" alt="portico-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg"
                                    alt="decor-home-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90"
                                    width="100" alt="artezen-decor-logo" />
                            </a>

                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70"
                                    width="100" alt="gm-fabrics-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75"
                                    width="100" alt="stanly-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75"
                                    width="100" alt="pure-fabric-logo" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners Ends -->