
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Wooden Flooring</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                     <li><a href="/products">Products</a></li>
                    <li class="active">Wooden Flooring</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12">
                <div class="single-blog-post">
                    <div class="blog-img">
                        <div id="home-slider" class="slides">
                            <img src="/templates/furnishing-template2/assets/img/products/wooden-flooring1.jpg" alt="wooden-flooring"   />
                            <img src="/templates/furnishing-template2/assets/img/products/wf0.jpg" alt="wooden-flooring"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="blog-info">
                    <h2 class="title">Wooden Flooring</h2>
                    <p class="text-justify mt-20">Many desktop publishing packages and web page editors now use Lorem
                        Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                        still in their infancy.</p>

                    <p class="text-justify">It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                        it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here', making it look like readable English. Many desktop publishing packages and web
                        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                        will uncover many web sites still in their infancy</p>

                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. </p>

                    <p class="text-justify">It uses a dictionary of over 200 Latin words, combined with a handful of
                        model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>

                    <p>Call +91 986 855 1406 to speak to our representative about our full range of luxury wooden
                        flooring.</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="login-reg-form"  style="background-color:gainsboro">
                    <h4 class="text-center">Get Your Free Consultation</h4>
                    <hr>
                    <form id="booking-form">
                        <div class="row">
                            <input type="hidden" value="fa4144b3-7b28-4af2-bc96-4d8ffd07127d" id="serviceId" name="serviceId" />
                           <div class="col-xs-12 mb-20">
                                <label for="bname">Name<span class="required">*</span></label>
                                <input name="bname" id="bname" type="text" placeholder="Enter Your Name">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bmobile">Mobile<span class="required">*</span></label>
                                <input name="bmobile" id="bmobile" type="text" placeholder="Enter Your Mobile">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="bemail">Email<span class="required">*</span></label>
                                <input name="bemail" id="bemail" type="email" placeholder="Enter Your Email">
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="autocomplete">Location<span class="required">*</span></label>
                                <input name="autocomplete" id="autocomplete" rows="3" type="text" onFocus="geolocate()" placeholder="Enter Your Location">
                            </div>
                            <div class="mb-20" style="float:right;">
                                <input value="Book" id="bookService" class="inline" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start pastners -->
<div class="product-section section pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">

                <h2>Our Business Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg"
                                    height="70" width="100" alt="dicitex-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"
                                    height="70" width="100" alt="seasons-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70"
                                    width="100" alt="nuhome-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70"
                                    width="100" alt="obsessions-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg" alt="peps-mattressess-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70"
                                    width="200" alt="" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90"
                                    width="100" alt="best-rosemoore-in bangalore" /></a>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70"
                                    width="100" alt="portico-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg"
                                    alt="decor-home-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90"
                                    width="100" alt="artezen-decor-logo" />
                            </a>

                        </div>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70"
                                    width="100" alt="gm-fabrics-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75"
                                    width="100" alt="stanly-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75"
                                    width="100" alt="pure-fabric-logo" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners Ends -->