<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>Zinetgo On Wheel</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li class="active">Zinetgo On Wheel</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-section section pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12">
                <div class="single-blog-post">
                     <div class="blog-img">
                        <img src="/templates/furnishing-template2/assets/img/products/fow.png" alt="Zinetgo On Wheel"/>
                    </div>
                     <div class="blog-info">
                        <h2 class="text-center">Coming Soon  <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
                     </div>   
                </div>
            </div>
        </div>
    </div>
</div>                    
<!-- Start pastners -->
<div class="product-section section pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                
                <h2>Our Business Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">

                    <div class="col-xs-12">
                            <div class="product-item text-center">
                                <div class="product-img">
                                    <a class="image" href="#"  target="_blank">
                                        <img src="/templates/furnishing-template2/assets/img/partner/dicitex-zinetgo.jpg" height="70" width="100" alt="dicitex-zinetgo-logo" /></a>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                                <div class="product-item text-center">
                                    <div class="product-img">
                                        <a class="image" href="#"  target="_blank">
                                            <img src="/templates/furnishing-template2/assets/img/partner/seasons-zinetgo.jpg"   height="70" width="100" alt="seasons-zinetgo-logo" /></a>
            
                                    </div>
                                </div>
                            </div>

               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/nuhome.jpg" height="70" width="100" alt="nuhome-logo" /></a>

                        </div>
                    </div>
                </div>
               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#" target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/obsessions.jpg" height="70" width="100" alt="obsessions-logo" /></a>

                        </div>
                    </div>
                </div>
               
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                         <a class="image" href="#" target="_blank">     
                            <img src="/templates/furnishing-template2/assets/img/partner/peps-mattressess.jpg"  alt="peps-mattressess-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                         <a class="image" href="#" target="_blank">  
                            <img src="/templates/furnishing-template2/assets/img/partner/Marvel.png" height="70" width="200"  alt="" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/rosemoore.jpg" height="90" width="100" alt="best-rosemoore-in bangalore" /></a>
                            </div>
                        </div>
                    </div>
                    

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/portico.jpg" height="70" width="100" alt="portico-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                 <img src="/templates/furnishing-template2/assets/img/partner/decor-home-zinetgo.jpg" alt="decor-home-zinetgo-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                        <div class="product-item text-center">
                            <div class="product-img">
                                <a class="image" href="#" target="_blank">
                                    <img src="/templates/furnishing-template2/assets/img/partner/king-koil2.jpg" height="90" width="100" alt="artezen-decor-logo" />
                                </a>
    
                            </div>
                        </div>
                    </div>
                    

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/magniflex.gif" height="70" width="100" alt="gm-fabrics-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/stanly.jpg" height="75" width="100" alt="stanly-logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="#"  target="_blank">
                                <img src="/templates/furnishing-template2/assets/img/partner/pure-fabric.jpg" height="75" width="100"  alt="pure-fabric-logo" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners Ends -->

